In [2]:
from data import *
from augmentations import *
import matplotlib.pyplot as plt

In [1]:
train_tfms, test_tfms = get_augmentations(p=0.5, image_size=224)
df = pd.read_csv(path / "train.csv")
ds = Cassava(path=path / "train_images/", df=df, transform=train_tfms)
img, label = ds[0]

NameError: name 'get_augmentations' is not defined

In [3]:
img.shape

NameError: name 'img' is not defined

In [4]:
path

PosixPath('../data')

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(path/'train.csv')

In [9]:
len(df.label.unique())

5

In [10]:
df.shape

(21397, 2)

In [11]:
df.head()

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3
2   100042118.jpg      1
3  1000723321.jpg      1
4  1000812911.jpg      3